body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #224675, rgb(3, 0, 8));
    background-size: 300% 300%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 400px;
    border-radius: 25px;
    overflow: hidden;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
    box-shadow: 0 0 15px hsl(258, 91%, 30%), 0 0 15px hsl(260, 59%, 47%), 0 0 25px #03a0af, 0 0 100px hsl(120, 1%, 14%);
    backdrop-filter: blur(10px);
    border: 10px solid hsla(256, 85%, 3%, 0.769);
}

.form {
    width: 100%;
    padding: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 15px 60px #1bd4ec;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
    border-color: #ff6f61;
    box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
    outline: none;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.error-message.fade-out {
    opacity: 0;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #ff6f61;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #de4a8b;
    transform: translateY(-2px);
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #ff6f61;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #de4a8b;
    text-decoration: underline;
}